# Copy this file to terraform.tfvars and set strong secrets.
location               = "eastus"
tenant_id              = "00000000-0000-0000-0000-000000000000"
subscription_id        = "11111111-1111-1111-1111-111111111111"
vnet_cidr              = "10.20.0.0/16"
vm_subnet_cidr         = "10.20.1.0/24"
bastion_subnet_cidr    = ["10.20.2.0/26"]
vm_size                = "Standard_B2ms"
admin_username         = "azureadmin"
admin_password         = "ReplaceWithStrongPassword!123"
sql_auth_username      = "sqladmin"
sql_auth_password      = "ReplaceWithStrongSqlPassword!123"
auto_shutdown_time     = "2000"
auto_shutdown_timezone = "UTC"
